button{
border-radius: 1px;
border: 0px;
background-color: crimson;
font-size: 20px;
color: #fff;
width: 100px;
height: 100px;
}

button:hover{
background-color: rgb(255, 50, 91);
transition: all 0.5 ease-out;
}




#inputfield {
    height: 60px;
    width: 400px;
    font-size: 20px;
    border-color: crimson;
    margin-bottom: 10px;
}


#calc{
    width: 400px;
}

#area{
    width: 500px;
}